@font-face {
  font-family: 'Poppins'; 
  src: url('./assets/font/Poppins-Regular.ttf');
}

* {
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #f6f8fd;
  --secondary-color: #dc3545;
  --color-text: #231942;
  --navbar-color: #ffffff;
  --navbar-color-text: #000000;
}

.table {
  --bs-table-bg: "transparent";
  --bs-table-border-color: "#000"
}

.homepage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background: #c6ffdd; 
  background: -webkit-linear-gradient(to left, #f7797d, #fbd786, #c6ffdd); 
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
  padding-top: 100px;
  min-height: 100vh;
}

.custom-navbar {
  position: fixed!important;
  height: 70px; 
  width: 100%;
  background: linear-gradient(to left, #f7797d, #fbd786, #c6ffdd);
  box-shadow: 0 2px 5px #aaa;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.items-center {
  align-items: center;
}

.alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%,-250%);
}

.custom-navbar .navbar-nav {
  margin-left: auto; 
}

.header-box {
  margin-bottom: 20px;
}

.separator {
  margin: 20px 0;
}
.header-box h1, .header-box h4 {
  color: var(--color-text);
  text-align: center;
}

.generate-key-btn, .submit-btn {
  background-color: #eb8055;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.generate-key-btn:hover, .submit-btn:hover {
  background-color: #e13434;
}

.keys {
  margin-bottom: 20px;
  gap: 10px;
  display: flex;
}

.key {
  padding: 10px;
  background-color: var(--primary-color);
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
}

p {
  margin-bottom: 0;
}
.p {
  text-align: left;
}

.firstSpan .secondSpan {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: small;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
    
.firstSpan:hover .secondSpan {
  visibility: visible;
}

.data .detail {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
    
.data:hover .detail {
  visibility: visible;
}

.stats {
  background-color: white;
  padding: 4px 8px;
  border-radius: 10px;
}

.form-row {
  margin-bottom: 20px;
}
